
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color:  rgb(0, 0, 0);
  color:rgb(255, 255, 255); ;
}
@font-face {
    font-family: 'Miama';
    src: url('./Miama.ttf') format('truetype');
    font-weight: 400;
    
}

/* shared styles */
*{
    margin: 0  ;
  }
  .container{
    
    width: 75%;
    margin: 5rem auto; 
    border-radius: 1rem;
  }
  .display{
    display: flex;
  }
  /* header styles */
  .header-container{
    padding: 5rem 0;
    background: linear-gradient(140.00deg,
    rgb(17, 17, 17),
    rgba(117, 117, 117, 0.1) 90%) ; 
    height: 545px;  
  }
  .navbar-container{
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto 5rem; 
    
  }
  .navbar-container .logo{
    color:rgb(230, 83, 60) ;
    font-weight: 800;
    font-style: italic;
    font-size: 2rem;
  }
  .navbar{
    justify-content: space-evenly;
    gap: 3rem;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
  }
  .home{
    border-radius: 46px;
    background-color:  rgb(230, 83, 60);
    width: 52px;
    height: 22px;
    padding: 5px 16px;
  }
  .nav-icon{
    display: none;
  }
  /* banner style */
  .banner-section{
    gap: 65px;
  }
 
  .banner-section h1{
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
  }
 .banner-section .span{
    font-family: "Miama";
    font-style: italic;
    font-weight: 400;
    font-size: 98px;

  }
  .banner-section p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin: 28px 0px;
  }
  .button{
    gap: 14px;
   
  }
  .btn-container{
    width: 224px;
    height: 54px;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 18px;
    color: white;
  }
  .btn-primary{
    background: rgb(230, 83, 60);
    border: none;
    font-weight: 600;
  }
 .btn-secondary{
  background-color: black;
  border: 1px solid rgb(255, 255, 255);
  }
  .banner-section img{
    position: absolute;
    top: 120px;
    left:820px ;
    
  }
  
  
  .banner-btn1{
    
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54); 
    margin-left:15px ;
    margin-top:340px ; 
    margin-right: 137px;  
    color: rgba(239, 237, 232, 0.65);
    align-items: center;
    

  }
  .banner-btn1 i{
    
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    margin: 12px;
  }
  #video-tutorial{
    font-size: 24px;
    font-weight: 900;
    color: rgb(250, 250, 249);
  }
  .banner-btn2{
    position: absolute;
    width: 193px;
    height: 98px;
    margin-left: 350px;
    margin-top: -390px;    
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1); 
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px; 
    padding: 16px  24px;     
  }
  #workout-video{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
      
  }
  /* Change your habits */
  .change-your-habits{
    margin-top: 100px;
    text-align: center;
    gap: 14px;
  }
  .section-details{
    margin-bottom:54px ;
  }
  .change-your-habits h2,.run-extra h2{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
  }
  .change-your-habits p,.your-habit p,.run-extra p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
   
  }
  .run-extra p{
    width: 443px;
  }
  .your-habit h3{
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 14px;
  }
  .your-habit img{
    border-radius: 50%;
    gap: 35px;
   
  }
  /* run extra mile easily */
  .run-extra{
   
    padding: 45px 25px 20px 40px;
    border-radius: 18px;
    background: rgb(34, 34, 34);    
  }
  .run-details{
    margin-right: 165px;
  }
 .run-btn{
    background-color: rgb(230, 83, 60);
    margin-top: 34px;
    border: none;
  }
  .run-extra img{
    position: absolute;
    margin-left: -65px;
    margin-top: -25px;
    width: 360px;
    height: 300px; 
    border-radius: 18px;   
  }
  /* Mobile Responsive */
  @media screen and (max-width:576px) {
    
    .container{
        width: 90%;
    }
    .navbar-container{
        
        width: 90%;
        margin: 0 auto ; 
        
      }
    .navbar{
        display: none;
    }
    .nav-icon{
        display: block;
        font-size: 24px;
      }
      .navbar-container.logo{
       margin-right: 197px;
      }
      .banner-section p{
        width: 274px;
      }
       .btn-container{
        width: 169px;
        
        font-size: 13px;
        padding: 12px 30px;
       } 
      
      .banner-section{
        display: grid;
        grid-template-columns: 1fr;
      }
      .banner-section h1{
        font-size: 36px;
      }
      .banner-section img{
        position: absolute;
        margin-top:48px ;
       
        left: 15px;
        top: 500px;
      }
      .header-container{
        width: 420px;
        height: 970px;
      }
      .banner-btn1{
        width: 155px;
        height: 72px;
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        border-radius: 9px;   
        margin-right: 26px; 
        margin-top:230px ; 
        margin-left:8px ;             
      }
      .banner-btn2{
        position: absolute;
        width: 140px;
        height:74px;
        margin-left: 190px;
        margin-top: -290px;    
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        border-radius: 9px;
        font-size: 9.83px; 
        padding: 10px  18px;     
      }
      #video-tutorial{
        font-size: 18px;
        
      }
      #workout-video{        
        font-size: 25px;
      }  
      .change-your-habits{
        margin-top: 16px;
        margin-left: 30px;
      }
      .change-your-habits h2,.run-extra h2{
        font-size: 32px;
        margin-bottom: 14px;
      }
      .your-habit {
        flex-direction: column;
        gap: 14px;
       
      } 
      .your-habit p{
        width: 231px;
        margin-left: 53px;
      }  
      .run-extra{
        width: 90%;
        margin-left: 10px;
        padding:33px ;
        flex-direction: column;
      }  
      .run-details {
        width: 287px;
        height: 460px;
      }
      .run-details p{
        width: 287px;
      }
      .run-btn{
        width: 287px;
      }
      .run-extra img{
        margin-top: -185px;
        width: 287px;
        height: 190px;
        margin-left: -1px;
      }
  }